<a href="https://colab.research.google.com/github/Maulanaulinnuha/Praktek-Struktur-data/blob/main/Praktek1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [12]:
teman_saya = ["Hilmi", "Ian", "Tegar", "Alip","Fian"]
print(teman_saya[3])
print ("Isi teman_saya indeks ke-3 adalah: {}".format(teman_saya[3]) )
print( "Semua teman: ada {} orang".format(len(teman_saya)))
for teman in teman_saya : print(teman)

Alip
Isi teman_saya indeks ke-3 adalah: Alip
Semua teman: ada 5 orang
Hilmi
Ian
Tegar
Alip
Fian

In [2]:

buah = ["Apel","mangga","nangka","jeruk","nanas"]
buah.append("manggis")
print(buah)

['Apel', 'mangga', 'nangka', 'jeruk', 'nanas', 'manggis']

In [3]:

for i in range(5):
  print("perulangan ke -", i)

perulangan ke - 0
perulangan ke - 1
perulangan ke - 2
perulangan ke - 3
perulangan ke - 4

In [4]:

teman = ["Khoirul", "Hilmi", "Pripindo", "Nando", "Ulin"]
teman[4] = "Fian"
print("Teman dekat saya adalah {}.".format(teman[4]))

Teman dekat saya adalah Fian.

In [5]:
#Deklarasi List
nilai = [2,4,6,8,10,12,14,16,18,20]

#tampilkan list
print("List Nilai : \n",nilai)

#menggunakan len
print("\nJumlah Index list nilai (len) : \n", len(nilai))

#menggunakan count
print("\nJumlah Nilai 5 Dalam List (count) : \n", nilai.count(2))

#Menggunakan append
print("\nMenambah element dalam list (append) : ")
nilai.append(12)
nilai.append(10)
print("List Nilai : ",nilai)

#Menggunakan index
print("\nIndex ke 8 (index) : \n", nilai.index(12))

#Menggunakan insert
nilai.insert(1,22)
print("\nTambah Nilai List (Insert) : \n", nilai)

#Menggunakan pop
nilai.pop()
nilai.pop()
print("\nList Nilai (pop) : \n",nilai)

#Menggunakan remove
nilai.remove(2)
nilai.remove(4)
print("\nList Nilai (remove) : \n", nilai)

List Nilai :
 [2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

Jumlah Index list nilai (len) :
 10

Jumlah Nilai 5 Dalam List (count) :
 1

Menambah element dalam list (append) :
List Nilai :  [2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 12, 10]

Index ke 8 (index) :
 5

Tambah Nilai List (Insert) :
 [2, 22, 4, 6, 8, 10, 12, 14, 16, 18, 20, 12, 10]

List Nilai (pop) :
 [2, 22, 4, 6, 8, 10, 12, 14, 16, 18, 20]

List Nilai (remove) :
 [22, 6, 8, 10, 12, 14, 16, 18, 20]

In [6]:
#Menggunakan extend
nilai2 = [4,2,8,10]
nilai.extend(nilai2)
print("\nList Nilai (extend : \n", nilai)

#Menggunakan reverse
nilai.reverse()
print("\nList Nilai (reverse) : \n", nilai)

#Menggunakan sort
nilai.sort()
print("\nList Nilai (sort) : \n", nilai)

#Menggunakan Max
print("\nNilai Terbanyak (max) : \n", max(nilai))

#Mengguankan min
print("\nNilai terendah (min) : \n", min(nilai))

#Menggunakan Sum
print("\nTotal penjumlahan nilai dari list_nilai (sum) : \n",
sum(nilai))

List Nilai (extend :
 [22, 6, 8, 10, 12, 14, 16, 18, 20, 4, 2, 8, 10]

List Nilai (reverse) :
 [10, 8, 2, 4, 20, 18, 16, 14, 12, 10, 8, 6, 22]

List Nilai (sort) :
 [2, 4, 6, 8, 8, 10, 10, 12, 14, 16, 18, 20, 22]

Nilai Terbanyak (max) :
 22

Nilai terendah (min) :
 2

Total penjumlahan nilai dari list_nilai (sum) :
 150

In [7]:
# Deklarasi List Nama Orang
nama_orang = ["Tegar", "Hilmi", "Khoirul", "Alif", "Riyan","Agil"]

# Tampilkan List
print("List Nama Orang: \n", nama_orang)

# Menggunakan len
print("\nJumlah Index List Nama Orang (len): \n", len(nama_orang))

# Menggunakan count
print("\nJumlah Nama Khoirul dalam List (count): \n", nama_orang.count("Khoirul"))

# Menggunakan append
print("\nMenambah Nama ke dalam List (append): ")
nama_orang.append("Privindo")
nama_orang.append("Kamaluddin")
print("List Nama Orang: ", nama_orang)

# Menggunakan index
print("\nIndex ke-3 (index): \n", nama_orang.index("Agil"))

# Menggunakan insert
nama_orang.insert(2, "Ulin")
print("\nMenambah Nama ke dalam List (Insert): \n", nama_orang)

# Menggunakan pop
nama_orang.pop()
nama_orang.pop()
print("\nList Nama Orang (pop): \n", nama_orang)

# Menggunakan remove
nama_orang.remove("Agil")
nama_orang.remove("Tegar")
print("\nList Nama Orang (remove): \n", nama_orang)

List Nama Orang:
 ['Tegar', 'Hilmi', 'Khoirul', 'Alif', 'Riyan', 'Agil']

Jumlah Index List Nama Orang (len):
 6

Jumlah Nama Khoirul dalam List (count):
 1

Menambah Nama ke dalam List (append):
List Nama Orang:  ['Tegar', 'Hilmi', 'Khoirul', 'Alif', 'Riyan', 'Agil', 'Privindo', 'Kamaluddin']

Index ke-3 (index):
 5

Menambah Nama ke dalam List (Insert):
 ['Tegar', 'Hilmi', 'Ulin', 'Khoirul', 'Alif', 'Riyan', 'Agil', 'Privindo', 'Kamaluddin']

List Nama Orang (pop):
 ['Tegar', 'Hilmi', 'Ulin', 'Khoirul', 'Alif', 'Riyan', 'Agil']

List Nama Orang (remove):
 ['Hilmi', 'Ulin', 'Khoirul', 'Alif', 'Riyan']